.content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page-landing {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    alignment: center;
    color: #264653;
}

.main-page-landing h1 {
    font-weight: 900;
    font-style: italic;
}

.main-page-landing p {
    font-weight: 500;
}

.main-page-landing .main-page-landing-p {
    font-weight: 500;
    font-size: 20px;
}

.main-page-landing .btn {
    height: 50px;
    min-width: 100px;
    font-weight: bold;
}

.main-page-landing-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-page-advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.main-page-advantages-item {
    width: 300px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 890px) {
    .main-page-advantages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-page-advantages-item {
        margin-bottom: 30px;
        width: 90%;
    }


}

.main-page-advantages-item .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.main-page-advantages-item .text {
    font-size: 17px;
}