
.header {
    background-color: #264653;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header .header-logo {
    font-weight: 900;
    font-style: italic;
    text-decoration: none;

}

.header a {
    color: white;
}

.header-content {
    margin: 0 auto;
    max-width: 1200px;
}

.github-link {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.github-link .github-link-item {
    padding: 0;
    margin: 2px;
}