
.header {
    background-color: #264653;
    color: white;
    position: fixed;
    width: 100%;
}

.header a {
    color: white;
}

.header-content {
    margin: 0 auto;
    max-width: 900px;
}

.github-link {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.github-link .github-link-item {
    padding: 0;
    margin: 2px;
}