.footer {
    background-color: #264653;
    padding: 1rem;
    color: white;
}

.footer p {
    color: white;
}


.footer-content {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
}

.footer-copyright {
    color: white;
}