.menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.menu-item .menu-item-title {
    color: white;
    font-weight: bolder;
}

.menu-item .menu-item-link {
    color: lightgray;
}